@import "./variable";

.build__community {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: $padding-left;
  padding-right: $padding-right;
}

.build__community--heading {
  font-weight: 800;
}
