@import "./variable";

.build__community {
  text-align: center;
  padding-top: 50%;
  padding-bottom: 50%;
  @include inline-padding-mobile;
}

.build__community--heading {
  @include header-bold; 
}

@media (min-width: 650px) {
  .build__community {
    padding-top: 20%;
    padding-bottom: 20%;
    @include inline-padding-tablet;
  }
}

@media (min-width: 850px) {
  .build__community {
    @include inline-padding-desktop;
  }
}
