@import "./variable";

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #00252e;
  position: relative;
  @include inline-padding-mobile;
}

footer::before {
  content: "";
  background-image: url("#{$image-path}/bg-footer-top-mobile.svg");
  position: absolute;
  left: 0;
  bottom: 99%;
  height: 100%;
  background-position: center bottom;
  width: 100%;
  background-size: 100%;
}

footer * {
  color: #ffffff;
}

.footer__newsletter--heading {
  text-transform: uppercase;
}

.contact__wrapper,
.article__heading--link,
.social-media__list {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.article__heading--link {
  font-size: 36px;
  gap: 8px;
}

.contact {
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact__wrapper {
  gap: 16px;
}

.contact__icon {
  max-width: 24px;
}

.footer__article--icon {
  max-width: 32px;
}

.contact__icon,
.footer__article--icon {
  max-height: max-content;
}

.footer__newsletter--paragraph,
.footer__article--paragraph {
  @include paragraph;
  color: #ffffff;
  margin-top: 32px;
  margin-bottom: 32px;
}

.footer__newletter--form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newletter__form--input {
  height: 46px;
  color: #00252e;
}

.newletter__form--input,
.newsletter__form--button {
  border: none;
  border-radius: 8px;
}

.newsletter__form--button {
  background-color: $secondary;
  color: #ffffff;
  font-weight: 700;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: max-content;
  margin-left: auto;
}

.social-media__icon,
footer::before {
  background-repeat: no-repeat;
}

.facebook_icon {
  background-image: url("#{$image-path}/icon-facebook.svg");
}

.instagram_icon {
  background-image: url("#{$image-path}/icon-instagram.svg");
}

.twitter_icon {
  background-image: url("#{$image-path}/icon-twitter.svg");
}

.social-media__icon {
  display: block;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
}

@media (min-width: 650px) {
  footer {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
    @include inline-padding-tablet;
  }
}

@media (min-width: 850px) {
  footer {
    gap: 100px;
    @include inline-padding-desktop;
  }

  .footer__article {
    flex-basis: 30%;
  }

  .footer__newsletter {
    flex-basis: 40%;
  }

  .newletter__form--input {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .footer__newletter--form {
    flex-direction: row;
    gap: 40px;
  }
}
