@import "./variable";

.masthead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.masthead,
.header {
  padding-left: $padding-left;
  padding-right: $padding-right;
}

.masthead__header {
  font-size: 24px;
}

.masthead__header--link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: #000000;
}

.masthead__image,
.icon {
  max-width: 24px;
  height: auto;
}

.masthead__header,
.header__article--heading {
  font-weight: 800;
}

.header__article,
.wrapper,
.header__image {
  margin-top: 60px;
  margin-bottom: 60px;
}

.wrapper {
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header__article {
  text-align: center;
}

.header__article--paragraph {
  color: $paragraph-color;
  margin-top: 32px;
  margin-bottom: 32px;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  color: #a4a9be;
}

.number {
  font-size: 64px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper2 > .number {
  font-size: 60px;
}

// .wrapper2 > .text {

// }

.masthead__button {
  border: 1px solid $secondary;
  border-radius: 50px;
  color: $secondary;
  background-color: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: 0px 0px 2px $secondary;
  text-shadow: 0px 0px 2px $secondary;
}
