@import "./variable";

.capability__paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}

.capability__image,
.capability__article {
  padding-top: 60px;
  padding-bottom: 60px;
}

.capability__article {
  text-align: center;
  padding-left: $padding-left;
  padding-right: $padding-right;
}

.section__capability--wrapper .capability__article:nth-of-type(odd) {
  background-color: rgba(0, 199, 250, 0.1);
}

.section__capability--paragraph {
  color: $primary;
}

@media (min-width: 650px) {
  .capability__article {
    @include common-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
    text-align: unset;
  }

  .section__capability--wrapper .capability__article:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .capability__image {
    max-width: 50%;
  }

  .capability__image,
  .capability__wrapper {
    flex-basis: 50%;
  }
}

@media (min-width: 800px) {
  .capability__article {
    gap: 60px;
  }
}