// Color
$paragraph-color: #3d466e;
$primary: hsl(228, 45%, 44%);
$secondary: #ff52c1;

// Path
$image-path: "../images";

// Mixins

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin common-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin inline-padding-mobile {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin inline-padding-tablet {
  padding-left: calc(96px / 2);
  padding-right: calc(96px / 2);
}

@mixin inline-padding-desktop {
  padding-left: 96px;
  padding-right: 96px;
}
